@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #502997e0, #1228bb80);
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #8799bd;
  color: transparent;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 7s ease-in forwards infinite;
}
undefined .background li:nth-child(0) {
  animation-delay: 0s;
  left: 33vw;
  top: 41vh;
}

.background li:nth-child(1) {
  animation-delay: 2s;
  left: 56vw;
  top: 51vh;
  border-color: #a6bce8;
}

.background li:nth-child(2) {
  animation-delay: 4s;
  left: 8vw;
  top: 93vh;
  border-color: #a6bce8;
}

.background li:nth-child(3) {
  animation-delay: 6s;
  left: 19vw;
  top: 85vh;
  border-color: #a6bce8;
}

.background li:nth-child(4) {
  animation-delay: 8s;
  left: 79vw;
  top: 11vh;
}

.background li:nth-child(5) {
  animation-delay: 10s;
  left: 15vw;
  top: 56vh;
}

.background li:nth-child(6) {
  animation-delay: 12s;
  left: 64vw;
  top: 78vh;
  border-color: #a6bce8;
}

.background li:nth-child(7) {
  animation-delay: 14s;
  left: 46vw;
  top: 3vh;
  border-color: #a6bce8;
}

.background li:nth-child(8) {
  animation-delay: 16s;
  left: 84vw;
  top: 35vh;
}

.background li:nth-child(9) {
  animation-delay: 18s;
  left: 44vw;
  top: 26vh;
}

.background li:nth-child(10) {
  animation-delay: 20s;
  left: 97vw;
  top: 64vh;
  border-color: #a6bce8;
}
